{include file="header" /}
<body class="me">
    <!-- 头部 -->
    {include file="top" /}
    <div class="main_box">
        <!-- 左侧栏 -->
        {include file="userleft" /}
        <!-- 中间主体 -->
        <link rel="stylesheet" type="text/css" href="__HOME__/css/yeb.css">
        <link charset="utf-8" rel="stylesheet" href="https://a.alipayobjects.com/yebprod/??/1.1.109/css/yeb/yebbase.css" media="all" />
        <link charset="utf-8" rel="stylesheet" href="https://a.alipayobjects.com/yebprod/??/1.1.63/css/yeb/jui.css" media="all" />


        <div class="content-container">
            <div class="box-bill">
                <table class="box-bill-account fn-left">
                    <tbody><tr>
                            <td colspan="2">
                                <span class="box-bill-title bill-title-kyje">
                                    周周利循环金额(元)<a class="eye fn-ml10" href="javascript:void(0)" title="点此隐藏收益" seed="boxBillTitle-eye" smartracker="on"></a>
                                </span>
                                <div class="box-bill-kyje-account fn-clear">
                                    <span class="eye-val" data-account="{$wallet.money}">
                                        {$wallet.money}
                                    </span>
                                    <a class="jui-btn jui-btn-blue box-bill-zhuanruLink fn-ml20" target="_blank" onclick='zhuan_wallet("1")' title="转入" seed="boxBillKyjeAccount-juiBtn" smartracker="on">
                                        转&nbsp;入
                                    </a>
                                    <a class="fn-ml10 box-bill-zhuanchuLink  fn-ml10" target="_blank" onclick='zhuan_wallet("2")' title="转出" seed="boxBillKyjeAccount-boxBillZhuanchuLink" smartracker="on">
                                        转&nbsp;出
                                    </a>
                                </div>

                                <div class="ui-line fn-clear"></div>
                            </td>
                        </tr>
                        <tr>
                            <td class="box-bill-foot">
                                <span class="box-bill-title bill-title-zje">
                                    总计资产(元)<a class="cc-zhxjoinlink fn-ml10" target="_blank" seed="boxBillTitle-ccZhxjoinlink" smartracker="on">
                                        <img src="https://t.alipayobjects.com/images/rmsweb/T1WThhXaFmXXXXXXXX.png" width="16" height="17">
                                    </a>
                                </span>
                                <div class="box-bill-foot-account eye-val" data-account="{$wallet.money+$userinfo.usermoney}">
                                    {$wallet.money+$userinfo.usermoney}
                                </div>
                            </td>
                            <td class="box-bill-foot td-line">
                                <span class="box-bill-title  totalFreezeShare-title">
                                    七日收益(元)<a target="_blank" class="fn-ml10" onclick='fymx_view()' seed="boxBillTitle-link" smartracker="on">
                                        明细
                                    </a>
                                </span>
                                <div class="box-bill-foot-account eye-val" data-account="{$wallet.fy_plus}">
                                    {$sevencount}
                                </div>
                            </td>
                        </tr>
                    </tbody></table>


                <ul class="box-bill-info   fn-left">
                    <li class="box-bill-item">
                        <span class="box-bill-info-title">昨日收益(元)</span>

                        <div class="box-bill-info-account ">{$wallet.yesterday}</div>
                    </li>

                    <li class="box-bill-item">
                        <span class="box-bill-info-title">累计周周利收益(元)</span>
                        <div class="box-bill-info-account  eye-val" data-account="{$wallet.accumulation}">
                            {$wallet.accumulation}
                        </div>
                    </li>

                    <li>
                        <span class="box-bill-info-title">
                            七日年化收益率(‰)
                        </span>
                        <div class="box-bill-info-account">
                            3.2030<span class="ft-unit"></span>
                        </div>

                    </li>

                    <li>
                        <span class="box-bill-info-title">
                            当日利率(‰)
                        </span>
                        <div class="box-bill-info-account">
                            {$dayll}
                        </div>

                    </li>
                </ul>
                <div class="fn-clear"></div>
            </div>


            <div class="box-bill-content">
                <div class="fn-left wealth-content  fn-bgwhite">
                    <div id="main" style="width: 100%;height:200px;"></div>
                </div>
                <div class="fn-left wealth-banner  fn-bgwhite">
                    <img src="https://gw.alipayobjects.com/zos/rmsportal/whgOKkFZfHDppacmYMMD.png" smartracker="on" width="282" height="222">  
                </div> 
            </div>

            <div class="fn-clear box-bill-content">
                <div class="ui-bill-subtitle fn-right  fn-clear">
                    <form method="post" action="" autocomplete="off" class="ui-bill-form-time fn-left" onsubmit="return false;">
                        <input class="ui-bill-text" name="startDate" value="" id="startdate"  type="text">
                        <span> - </span>
                        <input class="ui-bill-text" id="enddate" name="endDate" type="text">
                        <input class="jui-btn jui-btn-sm" value="" id="J_submit_time" onclick="log_view()" smartracker="on" type="submit">
                    </form>

                </div>

                <div class="i-asset-tab fn-clear">
                    <ul id="triggers" class="i-asset-tab-items fn-clear">
                        <li class="i-asset-tab-item fn-left  i-asset-tab-item-current">
                            <a class="ui-tab-trigger-text ui-bill-tab-text" id='page_start' onclick="log_type(this);" typevalue="2">转入</a></li>
                        <li class="i-asset-tab-item fn-left  ">
                            <a class="ui-tab-trigger-text ui-bill-tab-text" onclick="log_type(this);" typevalue="-1">转出</a></li>
                        <li class="i-asset-tab-item fn-left  ">
                            <a class="ui-tab-trigger-text ui-bill-tab-text" onclick="log_type(this);" typevalue="0">收益</a></li>
                    </ul>
                </div>
                <table class="ui-table fn-clear">
                    <thead>
                        <tr>
                            <th class="billTime">日期</th>
                            <th class="billAmount">金额(元)</th>
                            <th>信息</th>
                        </tr>
                    </thead>
                    <tbody id="log_data">
                      
                    </tbody>
                </table>
            </div>
            <div class="fn-clear"></div>
            <script>
                var starttime = "";
                var endtime = "";
                var type = "";
                var page = 1;
                function fymx_view(){
                    layer.open({
                        type: 2,
                        title: '7日收益明细',
                        shadeClose: true,
                        shade: 0.8,
                        area: ['600px', '90%'],
                        content: "{:url('zhouli/fymx')}" //iframe的url
                      }); 
                }
                function log_view(obj)
                {
                    page = $(obj).attr('data-page');
                    if (!page) {
                        page = 1;
                    }
                    $.ajax({
                        type: "POST",
                        url: "{:url('zhouli/get_log_ajax')}",
                        data: {
                            'starttime': starttime,
                            'endtime': endtime,
                            'type': type,
                            'page': page
                        },
                        dataType: "json",
                        success: function (e) {
                            if (e.state == "200") {
                                var html = "";
                                var data = e.data;
                                for (var j = 0, len = data.length; j < len; j++) {
                                    html += '<tr><td class="billTime">' + formatDateTime(data[j]['time']) + '</td><td class="billAmount">' + data[j]['money'] + '</td><td class="billInfo"><span class="emoji-li" style="visibility: visible;">'+changetype(data[j]['type'])+'</span></td></tr>';
                                }
                                var page='<tr><td id="page-main" colspan="4"><div data-widget-cid="widget-11"><div class="ui-paging"><span class="ui-paging-prev ui-paging-disabled" onclick="log_view(this)" data-page="'+(parseInt(e.nowpage)-1)+'">上一页</span><a class="ui-paging-item ui-paging-current ui-paging-disabled" data-page="'+parseInt(e.nowpage)+'">'+parseInt(e.nowpage)+'</a><span class="ui-paging-next ui-paging-disabled"  onclick="log_view(this)" data-page="'+(parseInt(e.nowpage)+1)+'">下一页</span><span class="ui-paging-info"><span id="log_page" class="ui-paging-bold">'+(parseInt(e.nowpage))+'/'+(parseInt(e.page))+'</span>页</span></div></div></td></tr>';
                                $('#log_data').html(html+page);
                            }

                        }});
                }
                function changetype(obj)
                {
                    switch (obj)
                    {
                        case '-1':
                            return "转出";
                            break;
                        case '1':
                            return "转入";
                            break;
                        case '0':
                            return "收益";
                            break;
                        case '2':
                            return "佣金转入";
                            break;
                        default:
                            return "未知";
                    }
                }
                function log_type(obj)
                {
                    type = $(obj).attr('typevalue');
                    $('#triggers').find("li").removeClass('i-asset-tab-item-current');
                    $(obj).parent().addClass('i-asset-tab-item-current');
                    $.ajax({
                        type: "POST",
                        url: "{:url('zhouli/get_log_ajax')}",
                        data: {
                            'starttime': starttime,
                            'endtime': endtime,
                            'type': type,
                            'page': page
                        },
                        dataType: "json",
                        success: function (e) {
                                        if (e.state == "200") {
                                var html = "";
                                var data = e.data;
                                for (var j = 0, len = data.length; j < len; j++) {
                                    html += '<tr><td class="billTime">' + formatDateTime(data[j]['time']) + '</td><td class="billAmount">' + data[j]['money'] + '</td><td class="billInfo"><span class="emoji-li" style="visibility: visible;">'+changetype(data[j]['type'])+'</span></td></tr>';
                                }
                                var page='<tr><td id="page-main" colspan="4"><div data-widget-cid="widget-11"><div class="ui-paging"><span class="ui-paging-prev ui-paging-disabled" onclick="log_view(this)" data-page="'+(parseInt(e.nowpage)-1)+'">上一页</span><a class="ui-paging-item ui-paging-current ui-paging-disabled" data-page="'+parseInt(e.nowpage)+'">'+parseInt(e.nowpage)+'</a><span class="ui-paging-next ui-paging-disabled"  onclick="log_view(this)" data-page="'+(parseInt(e.nowpage)+1)+'">下一页</span><span class="ui-paging-info"><span id="log_page" class="ui-paging-bold">'+(parseInt(e.nowpage))+'/'+(parseInt(e.page))+'</span>页</span></div></div></td></tr>';
                                $('#log_data').html(html+page);
                            }
                        }});
                }
                
                function zhuan_wallet(type)
                {
                    //type=1 转入/2 转出
                    if(type=="1"){var tt="转入";}else{tt="转出";}
                    layer.prompt({title: '请输入登陆密码，并确认', formType: 1}, function(paypass, index){
                      layer.close(index);
                      layer.prompt({title: '请'+tt+'转出金额，并确认', formType: 0}, function(money, index){
                        layer.close(index);
                         $.ajax({
                        type: "POST",
                        url: "{:url('zhouli/account_wallet')}",
                        data: {
                            'paypass': paypass,
                            'money': money,
                            'type': type,
                        },
                        dataType: "json",
                        success: function (e) {
                            layer.msg(e.msg);
                            if(e.state=="200"){
                                location.reload();
                            }
                        }
                         })
                      });
                    });
                }
                
            </script>
        </div>
        <script src="/static/layer/laydate.js"></script>
        <script>
                laydate.render({
                    elem: '#startdate',
                    done: function (value, date) { //监听日期被切换
                        starttime = value;
                    }
                });
                laydate.render({
                    elem: '#enddate',
                    done: function (value, date) { //监听日期被切换
                        endtime = value;
                    }
                });
        </script>
        <script src="__HOME__/js/echarts.min.js"></script>
        <script type="text/javascript">
                // 基于准备好的dom，初始化echarts实例
                var myChart = echarts.init(document.getElementById('main'));

                // 指定图表的配置项和数据
                var option = {
                    title: {
                        text: '利率曲线'
                    },
                    tooltip: {
                        trigger: 'axis'
                    },
                    grid: {
                        left: '3%',
                        right: '4%',
                        bottom: '3%',
                        containLabel: true
                    },
                    toolbox: {
                        feature: {
                            saveAsImage: {}
                        }
                    },
                    xAxis: {
                        type: 'category',
                        boundaryGap: false,
                        data: JSON.parse('{$lilvline_date}')
                    },
                    yAxis: {
                        type: 'value'
                    },
                    series: [
                        {
                            name: '利率',
                            type: 'line',
                            smooth: true,
                            stack: '总量',
                            data: JSON.parse('{$lilvline_value}')
                        }
                    ]
                };
                // 使用刚指定的配置项和数据显示图表。
                myChart.setOption(option);
        </script>
        <script>
            $('#page_start').click();
        </script>
    </div>
    <!-- 页脚 -->
    {include file="footer" /}
</body>

</html>