<!DOCTYPE html>
<html>

<head>
  <title>{$conf.web_name?$conf.web_name:'微交易'}</title>
  <link rel="stylesheet" href="__HOME__/css/pcstyle.css" />
  <link rel="stylesheet" href="__HOME__/css/pcmy.css" />
  <link rel="stylesheet" type="text/css" href="__HOME__/css/pc.css">
  <link rel="stylesheet" href="//at.alicdn.com/t/font_593216_6icj22flqa.css" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no">  
  <script type="text/javascript" src="__HOME__/js/wpauto.js"></script>
  <script src="__HOME__/js/jquery-1.9.1.min.js"></script>
  <script src="__HOME__/js/lk/order.js"></script>
  <script src="/static/layer/layer.js"></script>
  <script src="/static/public/js/function.js"></script>
  <script src="/static/public/js/base64.js"></script>
  <script type="text/javascript">
    var Base64 = new Base64();    
  </script>
    
</head>