{include file="header" /}
<body>
  <div class="code_body">
    <div class="codehead">
        <a href="javascript:history.go(-1);"><img class="fl" src="__HOME__/images/back.png"></a>
        <span>推广</span>
    </div>
    <div class="codelogo">
        <div class="logo_l"><img src="__HOME__/images/userlogo.jpg"></div>
        <div class="logo_r">
            <span>{$userinfo.username}</span>
            <span class="clccc">ID:{$userinfo.uid}</span>
        </div>
    </div>
    <div class="fjx"></div>
    <div class="codeimg">
        <img src="{$oid_url}">
    </div>
    <span>分享该二维码邀请朋友加入</span>
    
  </div>
</body>
</html>