    <div class="floorf">
            <ul>
                <a href="{:Url('/index/index/index/token/'.$token)}">
                    <li>
                        <img src="__HOME__/images/jycp.png">
                        <span>交易产品</span>
                    </li>
                </a>
                <a href="{:url('/index/user/cjrl/token/'.$token)}">
                    <li class="ml201">
                        <img src="__HOME__/images/cjrl.png">
                        <span>财经新闻</span>
                    </li>
                </a>
                <a href="{:url('/index/order/hold/token/'.$token)}">
                    <li class="ml200">
                        <img src="__HOME__/images/zjjl.png">
                        <span>交易记录</span>
                    </li>
                </a>
                <a href="{:url('/index/user/index/token/'.$token)}">
                    <li class="ml200">
                        <img src="__HOME__/images/wode1.png">
                        <span>个人中心</span>
                    </li>
                </a>

            </ul>
        </div>