{include file="header" /}

<body class="me">
    <!-- 头部 -->
    {include file="top" /}
    <div class="main_box">
        <!-- 左侧栏 -->
        {include file="userleft" /}
        <!-- 中间主体 -->            
        <div class="usermain">
             <div class="reset">

                  <div class="code_body">    
                    <div class="codeimg">
                        <img src="{$oid_url}">
                    </div>
                    <span>手机扫一扫二维码 下载app</span>
                 
                  </div>
            </div>
        </div>
    </div>
    {include file="footer" /}
</body>
</html>