{include file="header" /}
<body class="me">
    <!-- 头部 -->
    {include file="top" /}
    <div class="main_box">
        <!-- 左侧栏 -->
        {include file="userleft" /}
        <!-- 中间主体 -->            
        <div class="usermain" >
             <div class="reset">
              	<div class="codelogo1">
                    <iframe frameborder="none" scrolling="auto" style="width: 100%;height: 6.2rem;" src="https://static.meiqia.com/dist/standalone.html?_=t&eid=113255"></iframe>
              	</div>
              </div>
        </div>
  	
    </div>

{include file="footer" /}


</body>
</html>